<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h1>
                    Sobre o sistema para Gerenciamento de Horas Complementares
                </h1>
            </div>
            <div class="body">
                <p><strong>
                        Este site foi desenvolvido como trabalho de conclusão de curso do curso de Análise e
                        Desenvolvimento de Software da Instituição de Ensino Instituito Federal de São Paulo - IFSP, no
                        campus Guarulhos.
                    </strong>
                </p>
                <p><strong>
                        Visite o site da nossa instituiçao de ensino, no <a href="http://portal.ifspguarulhos.edu.br"
                            target="_blank">IFSP Guarulhos</a>.
                    </strong>
                </p>

                <h3>Porque um site para gerenciar as Horas Complementares?</h3>

                <p>
                    As horas complementares, na grande maioria das instituições de ensino, são obrigatórias e 
                    um processo com muitas interações e ajustes. Com este comportamento um processo manual se torna 
                    extremamente oneroso e lento. 
                    Informatizar o prcoesso de envio e revisão de arquivos gera um grande ganho em tempo, seguraça e 
                    agilidade para ambos os lados envolvidos.
                </p>

                <h3>Do que é feito?</h3>

                <p>
                    O Front-End foi desenvolvido em <strong>Angular</strong> e o back-end através do <strong>Asp.net
                        Core Web API</strong>,
                    utilizando as seguintes funcionalidades:
                </p>
                <ul>
                    <li>
                        <p><strong>Asp.net Core</strong>: O Asp. net Core é uma das mais recentes ferramentas da Microsoft
                         e possui inumeras funcionalidades e sub ferramentas complexas e de grande capacidade. Este projeto
                         faz uso de algumas delas como o Entity Framework que se "responsabiliza" por gerenciar os usuários
                         e suas credenciais.</p>
                    </li>
                    <li>
                        <p>
                            <strong>Microsoft <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity"
                                    target="_blank">ASP.NET Core Identity</a>
                            </strong>: Utiliza a biblioteca da Microsoft para gerenciar os usuários e
                            suas funções, além de ajudar a implementar estes usuários em repositorios gerenicos.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Angular</strong>: O agular é um framework para renderização da interface de aplicativos e 
                            paginas web. Ele é capaz de garantir vários beneficios como geração de código, templates,
                            animações complexas, integração com varias plataformas, etc...
                        </p>
                        <p>
                            Neste projeto o Algular faz uso do BootStrap 4 para os elementos visuais da págia o que garante
                            uma boa performace para a renderização destas paginas.
                        </p>
                    </li>
                    <li>
                        <p><strong>NodeJS</strong>: </p>
                    </li>
                    <li>
                        <p><strong>Visual Studio Code</strong>: O Visual Studio é uma interface de desenvolvimento que garante 
                            várias ferramentas para desenvolver um código estruturado e bem organizado, assim
                            possibilitando um projeto robusto e de alta qualidade.
                        </p>
                    </li>
                    <li>
                        <p><strong>Swagger</strong>: O Swagger é uma ferramenta para facilitar o trabalho com APIs oferecendo 
                        alguns recursos como sumarizar as APIs do sistema para que o desenvolvedor não tenha que rever seus 
                            mapeamentos à todo momento ou relembrar quais parametros determinado serviço demanda, tudo será 
                            cotrolado pelo Swagger aumentando assim a produtividade do projeto.
                    </li>
                    <li>
                        <p><strong>SQL Server</strong>: O SQL Server é um sistema gerenciador de banco de dados capaz de lidar
                         com grandes volumes de dados e estruturas complexas de armazenamento e excede em muito a capacidade 
                        necessária para lidar com este projeto, o que o torna uma ferramenta valida a ser mantida conforme o sistema
                         pode vir a crescer.</p>
                    </li>
                    <li>
                        <p><strong>Azure</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                </ul>

                <h3>Desenvolvido por</h3>

                <ul>
                    <li>
                        Flávio Sampaio Reis de Lima
                    </li>
                    <li>
                        Lucas Tortelli de Nadai
                    </li>
                </ul>

                <h3>Código Fonte</h3>

                <p>
                    Esta ferramenta foi desenvolvida em código aberto no Github. Você pode contribuir com o nosso
                    projeto, através do
                    <a href="https://github.com/flaviosampaiolima/HorasComplementaresApp" target="_blank">https://github.com/flaviosampaiolima/HorasComplementaresApp</a>
                </p>
            </div>
        </div>
    </div>
</div>
