<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h1>
                    Sobre o sistema para Gerenciamento de Horas Complementares
                </h1>
            </div>
            <div class="body">
                <p><strong>
                        Este site foi desenvolvido como trabalho de conclusão de curso do curso de Análise e
                        Desenvolvimento de Software da Instituição de Ensino Instituito Federal de São Paulo - IFSP, no
                        campus Guarulhos.
                    </strong>
                </p>
                <p><strong>
                        Visite o site da nossa instituiçao de ensino, no <a href="http://portal.ifspguarulhos.edu.br"
                            target="_blank">IFSP Guarulhos</a>.
                    </strong>
                </p>

                <h3>Porque um site para gerenciar as Horas Complementares?</h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum accumsan enim nec semper
                    tincidunt.
                    Etiam dignissim, ipsum id interdum lobortis, arcu arcu condimentum nunc, id rutrum dui dui vitae
                    lorem.
                    Maecenas aliquet est nisi, vitae elementum ligula mollis vel. Etiam tempor libero ac mi vehicula,
                    non
                    eleifend est bibendum. Proin id quam leo. Nulla libero lectus, bibendum id rutrum non, aliquam eu
                    arcu.
                    Phasellus at turpis orci. Aliquam nec volutpat nisi. Maecenas tincidunt quis est a maximus. Integer
                    rhoncus,
                    nulla nec consectetur vehicula, quam nisi faucibus enim, vel imperdiet diam nisl vitae ligula.
                    Morbi
                    ultrices aliquet turpis quis sodales. Morbi a commodo libero. Proin bibendum erat quam, vitae
                    sodales
                    diam elementum eu. Donec lobortis mattis odio vitae mattis.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum accumsan enim nec semper
                    tincidunt.
                    Etiam dignissim, ipsum id interdum lobortis, arcu arcu condimentum nunc, id rutrum dui dui vitae
                    lorem.
                    Maecenas aliquet est nisi, vitae elementum ligula mollis vel. Etiam tempor libero ac mi vehicula,
                    non
                    eleifend est bibendum. Proin id quam leo. Nulla libero lectus, bibendum id rutrum non, aliquam eu
                    arcu.
                    Phasellus at turpis orci. Aliquam nec volutpat nisi. Maecenas tincidunt quis est a maximus. Integer
                    rhoncus,
                    nulla nec consectetur vehicula, quam nisi faucibus enim, vel imperdiet diam nisl vitae ligula.
                    Morbi
                    ultrices aliquet turpis quis sodales. Morbi a commodo libero. Proin bibendum erat quam, vitae
                    sodales
                    diam elementum eu. Donec lobortis mattis odio vitae mattis.
                </p>

                <h3>Do que é feito?</h3>

                <p>
                    O Front-End foi desenvolvido em <strong>Angular</strong> e o back-end através do <strong>Asp.net
                        Core Web API</strong>,
                    utilizando as seguintes funcionalidades:
                </p>
                <ul>
                    <li>
                        <p><strong>Asp.net Core</strong>: Falar sobre os beneficios sobre o Asp.net Core, como ser mais
                            rápido, moderno e multiplataforma.</p>
                    </li>

                    <li>
                        <p><strong>Asp.net Core Web API</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>

                    <li>
                        <p><strong>Asp.net Core Entity Framework</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                    <li>
                        <p>
                            <strong>Microsoft <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity"
                                    target="_blank">ASP.NET Core Identity</a>
                            </strong>: Utiliza a biblioteca da Microsoft para gerenciar os usuários e
                            suas funções, além de ajudar a implementar estes usuários em repositorios gerenicos.
                        </p>
                    </li>
                    <li>
                        <p><strong>Visual Studio Community 2017</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                    <li>
                        <p><strong>Angular</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                    <li>
                        <p><strong>NodeJS</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                    <li>
                        <p><strong>Visual Studio Code</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                    <li>
                        <p><strong>Template AdminBSB - Material Design</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                    <li>
                        <p><strong>Bootstrap 4</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                    <li>
                        <p><strong>Swagger</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                    <li>
                        <p><strong>SQL Server</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                    <li>
                        <p><strong>Azure</strong>: Nonono nono no nonono nono nonono nono no nonono.</p>
                    </li>
                </ul>

                <h3>Desenvolvido por</h3>

                <ul>
                    <li>
                        Flávio Sampaio Reis de Lima
                    </li>
                    <li>
                        Lucas Tortelli de Nadai
                    </li>
                </ul>

                <h3>Código Fonte</h3>

                <p>
                    Esta ferramenta foi desenvolvida em código aberto no Github. Você pode contribuir com o nosso
                    projeto, através do
                    <a href="https://github.com/flaviosampaiolima/HorasComplementaresApp" target="_blank">https://github.com/flaviosampaiolima/HorasComplementaresApp</a>
                </p>
            </div>
        </div>
    </div>
</div>